/*===========================================================МЕНЮ======================================================================= */

.navbar {
  transition: background-color 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar.scrolled {
  background-color: #007bff !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
}

.navbar-toggler {
  background-color: white;
}


.navbar {
  transition: background-color 0.5s ease;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
  position: relative;
  transition: color 0.3s ease;
}

.navbar .nav-link {
  display: inline-block;
  margin: 0 10px;
}

.navbar .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}


/*===========================================================ПОСТЕР======================================================================= */
.img-fluid {
  width: 100%;
  object-fit: cover;
  max-height: 550px;
}

.img-fluid {
  filter: brightness(70%);
}


/*================================================ИМЕНОВАНИЕ ПОСТЕРА======================================================================= */
.centered-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text {
  font-size: 32px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 45px;
  text-align: center;
}

/*============================================================ФОРМА======================================================================= */

.flight-form {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: right !important;
  align-items: center !important;
  gap: 10px !important;
}

.flight-form input[type="text"],
.flight-form select,
.flight-form input[type="number"] {
  min-width: 230px !important;
  max-width: 230px !important;
  padding: 10px !important;
  font-size: 16px !important;
  text-align: left !important;
  border: 2px solid #007bff !important;
  border-radius: 5px !important;
  background: white !important;
  appearance: none;
}

select {
  color: black !important;
  appearance: none;
}

.flight-form input[type="text"]::placeholder {
  text-align: left !important;
  color: #000000 !important;
}

.flight-form input[type="number"]::placeholder {
  text-align: left !important;
  color: #000000 !important;
}

.flight-form button {
  padding: 10px 20px !important;
  min-width: 230px !important;
  max-width: 230px !important;
  background: #007bff !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  transition: background-color 0.3s, transform 0.3s !important;
}

.flight-form button:hover {
  background: #0056b3 !important;
  transform: scale(1.05) !important;
}

.flight-form select {
  cursor: pointer !important;
}

@media (min-width: 992px) {
  .flight-form {
    flex-wrap: nowrap !important;
  }

  .flight-form input[type="text"],
  .flight-form button {
    flex-grow: 1 !important;
  }
}


@media (max-width: 1220px) {

  .flight-form {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    padding: 20px !important;
  }

  .flight-form input[type="text"] {
    width: 80% !important;
  }

  .flight-form button {
    width: 80% !important;
  }

  .centered-content {
    position: absolute !important;
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: auto !important;
    padding: 20px !important;
  }
}

@media screen and (max-width: 950px) {
  .text {
    font-size: 22px !important;
    color: #ffffff !important;
    text-shadow: 2px 2px 4px #000000 !important;
    margin-bottom: 45px !important;
  }

}

@media screen and (max-width: 1030px) {
  .navbar {
    background-color: #007bff !important;
  }

  .img-fluid {
    width: 100% !important;
    object-fit: cover !important;
    min-height: 730px !important;
  }
}

@media screen and (max-width: 780px) {
  .navbar {
    background-color: #007bff !important;
  }

  .img-fluid {
    width: 100% !important;
    object-fit: cover !important;
    min-height: 550px !important;
  }
}


@media (max-width: 380px) {

  .centered-content {
    margin-top: 50px !important;
    position: absolute !important;
    top: 70% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: auto !important;
    padding: 20px !important;
  }

  .img-fluid {
    width: 100% !important;
    object-fit: cover !important;
    min-height: 730px !important;
  }
}

@media (max-width: 445px) {

  .centered-content {
    position: absolute !important;
    top: 45% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: auto !important;
    padding: 20px !important;
  }

  .img-fluid {
    width: 100% !important;
    object-fit: cover !important;
    min-height: 730px !important;
  }
}

/*============================================================ГОРЯЧИЕ ЦЕНЫ=================================================================== */

h2 {
  color: #D32F2F;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: #FFEBEE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 25px;
}

@media (max-width: 380px) {
  h2 {
    font-size: 20px;
  }
}


.custom-card {
  transition: transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-card:hover {
  transform: scale(1.05);
}

.rating .star {
  color: #ffd700;
  font-size: 1.5em;
}

.price-badge {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}


.custom-img {
  min-height: 230px;
}

.custom-card:hover {
  cursor: pointer;
}

/*============================================================Бронируем рейсы сезона Лето 2024!========================================== */

h6 {
  color: #259b08;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: #e8fede;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  h6 {
    font-size: 20px;
  }

  .img-summer {
    margin-bottom: 40px;
  }

  .summer-info {
    height: auto !important;
  }
}

.img-summer {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.summer-info {
  padding: 20px;
  background-color: #ebf2fa;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
  height: 400px;
  overflow: auto;
}

.summer-info h4 {
  color: #007bff;
}

/*============================================================ДОПОЛНИТЕЛЬНЫЕ СКИДКИ========================================================= */

h3 {
  color: #999b08;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: #fcfee1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  h3 {
    font-size: 20px;
  }

  .img-sale {
    margin-bottom: 40px;
  }

  .discount-info {
    height: auto !important;
  }
}

.img-sale {
  width: 100%;
  height: 630px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.discount-info {
  padding: 20px;
  background-color: #ebf2fa;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
  height: 630px;
  overflow: auto;
}

.discount-info h4 {
  color: #007bff;
}

.custom-heading {
  color: #ab17ae;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: #feebfe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .custom-heading {
    font-size: 20px;
  }
}


/*============================================================ПОДПИШИСЬ НА РАССЫЛКУ========================================================= */

.container5 {
  background-color: #ebf2fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  margin-top: 0px;
}

.form-group label {
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

button.btn-primary {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}


button.btn-primary:hover {
  background: #0056b3;
  transform: scale(1.05);
}


.form-control {
  border-radius: 5px;
}

/*============================================================ФУТЕР========================================================= */

footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #151a65;
  color: #ffffff;
}

footer .container {
  max-width: 1140px;
  padding: 0 15px;
  margin: auto;
}

footer h5 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
}

footer p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

footer .col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 767.98px) {
  footer .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/*-------------------------------------------------------------------------------------------------------------------------------- */
/*============================================================ПРЕДЛОЖЕНИЯ========================================================= */
/*-------------------------------------------------------------------------------------------------------------------------------- */


.custom-fullwidth-img {
  width: 100%;
  object-fit: cover;
  max-height: 300px;
  filter: brightness(60%);
}

.poster-container {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.poster-container::after {
  content: '';
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
  pointer-events: none;
}

.poster-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 50px;
  z-index: 1;
}

@media (max-width: 991px) {

  .custom-fullwidth-img {
    margin-top: 66px;
  }
}

@media (max-width: 450px) {
  .poster-text {
    font-size: 40px;
  }
}



/*============================================================КАРТОЧКИ========================================================= */

.card-tallinn {
  min-height: 210px;
}

/*============================================================РЕКОМЕНДАЦИИ========================================================= */

.read-more {
  cursor: pointer;
  text-decoration: underline;
}

.read-more:hover {
  color: #007bff;
}

/*===========================================================ДОСТИЖЕНИЯ========================================================= */

.card-header {
  background-color: #007bff;
  color: #ffffff;
}

.card-header:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.btn-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.btn-link:hover {
  color: #cccccc;
}

.fa-chevron-down {
  float: right;
}

.card-body {
  background-color: #ffffff;
  border-radius: 5px;
}

.achievement-info {
  background-color: #e9ecef;
  border-left: 5px solid #007bff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

/*===========================================================ОПЕРАТОРЫ========================================================= */

.card-tour {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #f3f7ff;
  min-height: 300px;
}

.card-tour:hover {
  transform: scale(1.03);
}

.card-body-tour {
  padding: 20px;
}

.card-title-tour {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.card-subtitle-tour {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.card-text-tour {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.card-tour {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .card-body-tour {
    padding: 15px;
  }
}

/*===========================================================КОНТАКТЫ========================================================= */

.info-block {
  background: linear-gradient(to right, #007bff, #06340d);
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-block h5 {
  font-size: 20px;
}

.header-text {
  text-align: center;
  color: #007bff;
  margin-bottom: 30px;
}


.consultant-card {
  margin: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0 0 33.333333%;
  padding: 5px;
}

.consultant-card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.carousel-item {
  display: flex;
}

.carousel-indicators [data-bs-target] {
  background-color: #007bff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff;
  border-radius: 50%;
  padding: 10px;
}

@media (max-width: 768px) {
  .consultant-card {
    flex: 0 0 100%;
  }
}

.custom-heading2 {
  color: #007bff;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: #f0f6fd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .custom-heading2 {
    font-size: 20px;
  }
}
